body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
}

a:link { 
    text-decoration: none;
    color: blue;
}

li {
    margin-top: 0.5em;
}

hr {
    border: 0;
    background-color: #08acd4;
    height: 1px;
}

.container {
    margin: 0 auto;
    text-align: left;
    width: 80%;
}

.content {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 2em;
    line-height: 1.5em;
}

.block {
    width: 100%;
    background: #acecfc;
    margin-top: 0.5em;
}

.blog_date{
    display: inline-block;
    font-size: 1.5em;
    background: #7be1fa;
    width: 3em;
    padding-left: 0.1em;
    color: #fff;
}

.blog_title{
    display: inline-block;
    font-size: 3em;
    height: auto;
    vertical-align: top;
}